// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here

$font-family-sans-serif: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$border-width: 0;
$grid-gutter-width: 0;
$link-decoration: none;
$navbar-light-active-color: #262626;
$navbar-light-color: #262626;
$light: #fff;
$primary: #FDD6F3;
$secondary: #FD41CD;
$body-color: #262626;
$link-color: #262626;

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";

// 4. Include any default map overrides here

// Additional spacer units
$custom-spacers: (
    6: $spacer * 4.5,
    7: $spacer * 6,
    8: $spacer * 7.5,
    9: $spacer * 9,
    10: $spacer * 10.5,
);

$spacers: map-merge($spacers, $custom-spacers);

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/helpers/position";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

// 8. Add additional custom code here

body {
    padding-top: 3.5rem;
}

h1,
a {
    font-weight: $font-weight-bold;
}

// Have a specific aspect ratio for feature elements on landing page
.landing-features {
    background-size: cover;
    height: calc(100vw * .30);
    color: $white;
    text-align: center;

    a {
        color: $white;
        font-weight: $font-weight-normal;
    }
}

.img-cover {
    background-size: cover;
}

.client-photo {
    background-size: cover;
    border-radius: 6.25rem;
    height: 4.69rem;
    max-height: 4.69rem;
    width: 4.69rem;
    max-width: 4.69rem;
}

// Gradient overlay
.overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7455357142857143) 0%, rgba(0, 0, 0, 0.2861519607843137) 55%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    width: 100%;
}

.nav-brand-text {
    font-weight: $font-weight-bold;
}

.bold-text {
    color: $secondary;
    font-weight: $font-weight-bold;
}

.subtext {
    font-size: $small-font-size;
}

// Reverse image order for X-small and Small screen widths
.reverse-order {
    order: -1;
}

#feature-1 {
    background-image: url(../assets/images/calico-cat.jpg);
}

#feature-2 {
    background-image: url(../assets/images/orange-parrot.jpg);
    background-position: 40%;
}

#feature-3 {
    background-image: url(../assets/images/brown-puppy.jpg);
}

#blog-img {
    background-image: url(../assets/images/couple-dog.jpg);
}

#client-1 {
    background-image: url(../assets/images/client-portrait.jpg);
    background-position: 45%;
}

#testimonial-img {
    background-image: url(../assets/images/black-cat.jpg);
}

// X-small to Medium screen widths
@media (max-width: 767.98px) {
    .img-cover {
        min-height: calc(100vw * .50);
    }

    #feature-1 {
        background-position: 0% 15%;
    }

    #feature-3 {
        background-position: 0% 20%;
    }
}

// Font resizing for X-small to Medium screen widths
@media (max-width: 850px) {
    h1 {
        @include font-size(1.75rem);
    }

    h2,
    h3 {
        @include font-size(1.25rem);
    }

    p,
    a,
    .subtext {
        @include font-size(0.8rem);
    }
}

@media (min-width: 768px) {
    .reverse-order {
        order: unset;
    }
}